{
  "rules": {
    "node/no-missing-import": [
      "error",
      {
        "allowModules": [],
        "resolvePaths": ["."],
        "tryExtensions": [".js", ".ts", ".json", ".node"]
      }
    ]
  }
}
